<h1>ユーザー詳細</h1>
<p>名前 : <%= @user.name %></p>
<p>メールアドレス : <%= @user.email %></p>
<p>プロフィール : <%= @user.profile %></p>

<%= render 'relationships/follow_button', user: @user %>

<% if current_user.id == @user.id %>
  <%= link_to "編集する", edit_user_registration_path %>
<% end %>

<h2>ユーザーの投稿一覧</h2>
<% @user.talks.each do |t| %>
  <%= t.user.name %>
  <%= t.body %>
<% end %>

<h2>ユーザーがいいねした投稿一覧</h2>
<% @user.liked_talks.each do |t| %>
  <%= t.user.name %>
  <%= t.body %>
<% end %>

<h2><%= @user.email %></h2>

<% if @user.id == current_user.id %>

<% else %>

  <% if @isRoom == true %>
    <p><a href="/rooms/<%= @roomId %>">チャットへ</a>
  <% else %>
    <%= form_for @room do |f| %>
      <%= fields_for @entry do |e| %>
        <%= e.hidden_field :user_id, :value=> @user.id %>
      <% end %>
      <%= f.submit "チャットを始める" %>
    <% end %>
  <% end %>
<% end %>

<%= link_to "日記を書く", new_blog_path %>
<%= link_to "日記一覧へ", blogs_path %>


<%= month_calendar events: @user.blogs.each do |date, blogs| %>
  <%= date.day %>

  <% blogs.each do |blog| %>
    <div>
      <%= link_to blog.title, blog %>
    </div>
  <% end %>
<% end %>

<%= link_to "ユーザー一覧に戻る", users_path %>
<%= link_to "つぶやき一覧に戻る", talks_path %>